

:root {
    --clr-primary-orange: hsl(31, 77%, 52%);
    --clr-primary-cyan: hsl(184, 100%, 22%);
    --clr-primary-dark-cyan: hsl(179, 100%, 13%);

    --clr-neutral-100: hsl(0, 0%, 95%);
    --clr-neutral-200: hsla(0, 0%, 100%, 0.75);
    
    --fs: 15px;
    --ff-accent: 'Big Shoulders Display', cursive;
    --ff-base: 'Lexend Deca', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;

    --vs : 540px;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral-100);
    padding: 2.5rem;
    border-radius:32px;
}

article {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    max-width: 500px;
    min-width: 315px;
    /* margin-bottom: 14rem; */
}
.sedans {
    background-color: var(--clr-primary-orange);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: var(--clr-primary-orange)
}
.suvs {
    background-color: var(--clr-primary-cyan);
    color: var(--clr-primary-cyan)
}
.luxury {
    background-color: var(--clr-primary-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--clr-primary-dark-cyan)
}

.card{
    padding: 2.5rem;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
}
.button{
    border-radius: 25px;
    outline: none;
    border: none;
    width: 50%;
    color: inherit;
    height: 40px;
}

h1 {
    font-weight: var(--fw-bold);
    font-family: var(--ff-accent);
    color: var(--clr-neutral-200);
    font-size: 2rem;
}
.description {
    color: var(--clr-neutral-200);
}

@media (min-width: 920px) {
    article {
        flex-direction: row;
        max-width: 1000px;
    }
    .sedans{
        border-radius: 10px 0px 0px 10px;
    }
    .luxury{
        border-radius: 0px 10px 10px 0px;
    }
}